@import url('./fonts/fonts.css');
@import url('./theme/logo.css');
@import url('./theme/login.css');

:root {
  --primary-color: rgb(18, 92, 42);
  --secondary-color: #29c35e;
  --tertiary-color: #dd8d25;
  --quaternary-color: #ce7500;
  --black-color: #110f00;
  --white-color: #fafafa;
  --main-background-color: #F9F9FE;
}

* {
  font-family: 'Montserrat';
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

.mercadopago-action-button {
  display: grid;
  font-size: larger;
}

.mercadopago-button {
  background-color: var(--primary-color) !important;
}