@import url('./fonts/fonts.css');
@import url('./theme/logo.css');
@import url('./theme/login.css');

:root {
  --primary-color: rgb(18, 92, 42);
  --secondary-color: #29c35e;
  --tertiary-color: #dd8d25;
  --quaternary-color: #ce7500;
  --black-color: #110f00;
  --white-color: #fafafa;
  --main-background-color: #F9F9FE;
}

* {
  font-family: 'Montserrat';
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

.mercadopago-action-button {
  display: grid;
  font-size: larger;
}

.mercadopago-button {
  background-color: var(--primary-color) !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--quaternary-color);
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color); 
}